<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SUA-Monitor Installer</Name>
    <Version>1.0.0</Version>
    <Title>SUA-Monitor</Title>
    <Publisher>Serik</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>SUA-Monitor</StartMenuDir>
    <TargetDir>@HomeDir@/SUA-Monitor</TargetDir>
</Installer>
